<h2 class="container-block-title">{{sections.formacao.title}}</h2>

{{#each sections.formacao.list}}
    <div class="item">
        <h4 class="degree">{{title}}</h4>
        <h5 class="meta">{{location}}</h5>
        <div class="time">{{periodo}}</div>
    </div><!--//item-->
{{/each}}
