<h2 class="section-title"><i class="fa fa-archive"></i>{{sections.projects.title}}</h2>
<!--<div class="intro">
    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
</div>--><!--//intro-->

{{#each sections.projects.list}}
    <div class="item">
    <span class="project-title">
        <a href="{{url}}" target="_blank">{{title}}</a>
    </span> - <span class="project-tagline">{{descricao}}</span>
    </div>
{{/each}}
