<h2 class="section-title"><i class="fa fa-rocket"></i>
    {{sections.skills.title}}
</h2>

<div id="skill-measurements" class="container-fluid">
    <div id="skill-measurements-body" class="row">


        <div class="col-md-4">
            <a class="skill-measurement-card" href="https://pluralsight.imgix.net/paths/skills/css">
                <div class="skill-measurement-header"><img
                        src="https://pluralsight.imgix.net/paths/path-icons/css-c9b214f0d7.png">
                    <h3>CSS</h3></div>
                <div class="skill-measurement-stats">
                    <div class="level proficient">Proficient</div>
                    <div class="rating"><!-- react-text: 290 -->RATING: <!-- /react-text --><span>161</span></div>
                    <div class="percentile"><!-- react-text: 293 -->PERCENTILE: <!-- /react-text --><span>57th</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="skill-measurement-card" href="https://app.pluralsight.com/paths/skills/html5">
                <div class="skill-measurement-header"><img
                        src="https://pluralsight.imgix.net/paths/path-icons/html5-7ac65c8ec0.png">
                    <h3>HTML5</h3></div>
                <div class="skill-measurement-stats">
                    <div class="level expert">Expert</div>
                    <div class="rating"><!-- react-text: 290 -->RATING: <!-- /react-text --><span>268</span></div>
                    <div class="percentile"><!-- react-text: 293 -->PERCENTILE: <!-- /react-text --><span>98th</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="skill-measurement-card" href="https://app.pluralsight.com/paths/skills/docker">
                <div class="skill-measurement-header">
                    <img src="https://pluralsight.imgix.net/paths/path-icons/docker-5efb7527e5.png">
                    <h3>Docker</h3>
                </div>
                <div class="skill-measurement-stats">
                    <div class="level proficient">Proficient</div>
                    <div class="rating"><!-- react-text: 40 -->RATING: <!-- /react-text --><span>130</span>
                    </div>
                    <div class="percentile"><!-- react-text: 43 -->PERCENTILE:
                        <!-- /react-text --><span>37th</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="skill-measurement-card col-md-4" href="https://app.pluralsight.com/paths/skills/javascript">
                <div class="skill-measurement-header">
                    <img src="https://pluralsight.imgix.net/paths/path-icons/javascript-36f5949a45.png">
                    <h3>JavaScript</h3>
                </div>
                <div class="skill-measurement-stats">
                    <div class="level expert">Expert</div>
                    <div class="rating"><!-- react-text: 52 -->RATING: <!-- /react-text --><span>214</span>
                    </div>
                    <div class="percentile"><!-- react-text: 55 -->PERCENTILE:
                        <!-- /react-text --><span>86th</span></div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="skill-measurement-card col-md-4" href="https://app.pluralsight.com/paths/skills/node-js">
                <div class="skill-measurement-header">
                    <img src="https://pluralsight.imgix.net/paths/path-icons/nodejs-601628d09d.png">
                    <h3>Node.js</h3>
                </div>
                <div class="skill-measurement-stats">
                    <div class="level expert">Expert</div>
                    <div class="rating"><!-- react-text: 64 -->RATING: <!-- /react-text --><span>214</span>
                    </div>
                    <div class="percentile"><!-- react-text: 67 -->PERCENTILE:
                        <!-- /react-text --><span>86th</span></div>
                </div>
            </a><!-- react-empty: 69 -->
        </div>
    </div>

</div>

