<h2 class="container-block-title">Formação</h2>
<div class="item">
    <h4 class="degree">Análise e Desenvolvimento de Sistemas </h4>
    <h5 class="meta">FATEC - Rubens Lara - Baixada Santista</h5>
    <div class="time">2009 - 2012</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Tecnico Desenvilvomento de Sistemas Comerciais</h4>
    <h5 class="meta">IFSP - Cubatão</h5>
    <div class="time">2008 - 2009</div>
</div><!--//item-->