<h2 class="section-title"><i class="fa fa-briefcase"></i>Experiência</h2>

<div class="item">
    <div class="meta">
        <div class="upper-row">
            <h3 class="job-title">Desenvolvedor Java Pleno Full Stack</h3>
            <div class="time">junho 2016 - Atual</div>
        </div><!--//upper-row-->
        <div class="company">SupportComm, São Paulo - SP</div>
    </div><!--//meta-->
    <!--<div class="details">
        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
    </div>--><!--//details-->
</div><!--//item-->

<div class="item">
    <div class="meta">
        <div class="upper-row">
            <h3 class="job-title">Desenvolvedor Java Pleno</h3>
            <div class="time">dezembro de 2015 – maio de 2016 (6 meses)</div>
        </div><!--//upper-row-->
        <div class="company">Entelgy, São Paulo - SP</div>
    </div><!--//meta-->
    <div class="details">
        <p>Desenvolvedor Liferay, personalização de portais, criação e manutenção de portlets, temas e hooks</p>

    </div><!--//details-->
</div><!--//item-->

<div class="item">
    <div class="meta">
        <div class="upper-row">
            <h3 class="job-title">Desenvolvedor Java</h3>
            <div class="time">junho de 2014 – novembro de 2015 (1 ano 6 meses)</div>
        </div><!--//upper-row-->
        <div class="company">Prodesan, Santos - SP</div>
    </div><!--//meta-->
    <div class="details">
        <p>Desenvolvimento de sistemas voltado para educação, gestão de Escolas, funcionários e alunos - Sistema Integrado de Gestão Escolar (SIGES). Desenvolvido em Java rodando sobre Jboss 6.2. Responsavel pela criação de testes, análise de código e bugs.</p>
    </div><!--//details-->
</div><!--//item-->

<div class="item">
    <div class="meta">
        <div class="upper-row">
            <h3 class="job-title">Engenheiro de Software Pleno</h3>
            <div class="time">agosto de 2011 – maio de 2014 (2 anos 10 meses)</div>
        </div><!--//upper-row-->
        <div class="company">RedDrummer, São Paulo - SP</div>
    </div><!--//meta-->
    <div class="details">
        <p>Desenvolvimento de sistema voltado para gestão dos relacionamentos sociais e de inteligência de empresas. Desenvolvimento de sistemas de estatística e estratégia. Manutenção de servidores de aplicação e banco de dados.</p>
    </div><!--//details-->
</div><!--//item-->

<div class="item">
    <div class="meta">
        <div class="upper-row">
            <h3 class="job-title">Estagiario em Desenvolvimento Java EE</h3>
            <div class="time">junho de 2010 – maio de 2011 (1 ano)</div>
        </div><!--//upper-row-->
        <div class="company">Prodesan, Santos - SP</div>
    </div><!--//meta-->
   <!-- <div class="details">
        <p>Desenvolvimento de sistemas voltado para educação, gestão de Escolas, funcionários e alunos - Sistema Integrado de Gestão Escolar (SIGES). Desenvolvido em Java rodando sobre Jboss 6.2. Responsavel pela criação de testes, análise de código e bugs.</p>
    </div>--><!--//details-->
</div><!--//item-->