<ul class="list-unstyled contact-list vcard"  itemscope itemtype="http://schema.org/PostalAddress">
    <li class="email">
        <i class="fa fa-envelope"></i>
        <a href="mailto: rsvo@outlook.com" class="email" itemprop="email">rsvo@outlook.com</a>
    </li>
  <!--  <li class="phone">
        <i class="fa fa-phone"></i>
        <a href="tel:0123 456 789">0123 456 789</a>
    </li>-->

    <li class="linkedin">
        <i class="fa fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/renato-souza-a2719649" target="_blank" class="url" itemprop="url">linkedin.com/in/renato-souza</a>
    </li>
    <li class="github">
        <i class="fa fa-github"></i>
        <a href="http://github.com/renatosvo" target="_blank" class="url" itemprop="url">github.com/renatosvo</a>
    </li>

    <li class="github">
        <img src="images/ps_white_icon3.png" style="height: 20px;margin-right: 2px;"/>
        <a href="https://app.pluralsight.com/profile/renatosvo" target="_blank" class="url" itemprop="url">pluralsight.com</a>
    </li>

    <li class="github">
        <i class="fa fa-globe" aria-hidden="true"></i>
        <a href="#">EU passport</a>
    </li>
    <!--<li class="twitter">
        <i class="fa fa-twitter"></i>
        <a href="https://twitter.com/3rdwave_themes" target="_blank">@twittername</a>
    </li>-->
</ul>