<h2 class="container-block-title">{{sections.lingua.title}}</h2>
<ul class="list-unstyled interests-list">
    {{#each sections.lingua.list}}
        <li>{{title}} <span class="lang-desc">({{level}})</span></li>
    {{/each}}
</ul>